#game-view-container {
    position: relative;
}

main ul {
    margin: 20px auto;
    width: fit-content;
}

main > h1, main > h2 {
    text-align: center;
}

canvas {
    margin: 0px auto;
    border: 2px solid black;
    display: block;
}

#background-gif {
    position: absolute;
    z-index: -1;
    left: 293px;
    top: 0px;
    height: 100%;
    width: 800px;
    object-fit: cover;
}