body {
    font-family: 'Press Start 2P';
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    background-image: linear-gradient(#666666, black);
    color: white;
    border: 5px solid black;
    margin-bottom: 30px;
}

main nav > div {
    width: 300px;
    font-size: 13px;
    margin-left: 25px;
}

main nav #nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main nav div a {
    font-size: 27px;
    margin-bottom: 6px;
    color: white;
    transition: .5s
}

main nav div a:hover {
    font-size: 30px;
}

#game-view-container {
    position: relative;
    width: 804px;
    margin: 0px auto;
}

main ul {
    margin: 20px auto;
    width: 700px;
}

main li {
    padding: 10px 0px;
    list-style-type: square;
}

main > h2 {
    text-align: center;
    margin-top: 40px;
}

canvas {
    margin: 0px auto;
    border: 2px solid rgb(255, 255, 255);
    display: block;
}

.over-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 804px;
    position: absolute;
}

#background-gif {
    z-index: -1;
    object-fit: fill;
}

#player-colors {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0px auto;
}

#player-colors > div {
    padding: 5px 10px;
    border: 3px rgba(0, 0, 0, 0) solid;
}

#player-colors > div:hover {
    cursor: pointer;
}

#player-color-red {
    color: red;
}

#player-color-blue {
    color: blue;
}

#player-color-green {
    color: green;
}

#player-color-yellow {
    color: yellow;
}

#player-color-red:hover {
    color: rgb(252, 67, 67);
}

#player-color-blue:hover {
    color: rgb(55, 55, 255);
}

#player-color-green:hover {
    color: rgb(3, 180, 3);
}

#player-color-yellow:hover {
    color: rgb(255, 255, 138);
}

#player-colors > div.selected {
    border: white 3px solid;
    cursor: default
}

.control {
    margin: 10px auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#controls-menu p {
    line-height: 3;
}