#start-screen {
    z-index: 2;
    background: #000000b3;
    border: white solid;
    top: -4px;
    left: -4px;
    width: 806px;
    height: 306px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-screen.show {
    display: flex;
}

#start-screen div {
    width: 600px;
    text-align: center;
      
}

#start-screen #welcome-title {
    margin-bottom: 40px; 
    font-size: 20px
}

#start-screen #welcome-info {
    font-size: 18px;
}

#gameover-screen {
    z-index: 2;
    background: #000000b3;
    border: white solid;
    top: -4px;
    left: -4px;
    width: 806px;
    height: 306px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameover-screen.show {
    display: flex;
}

#gameover-screen div {
    width: 600px;
    text-align: center;
      
}

#gameover-screen #gameover-title {
    margin-bottom: 40px;
    font-size: 46px;
    color: red;
    letter-spacing: 5px;
}

#gameover-screen #gameover-info {
    font-size: 18px;
}

#mute-btn {
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    position: absolute;
    font-family: 'Press Start 2P';
    color: white;
    border: none;
    top: 10px;
    left: 735px;
}

#mute-btn:hover {
    cursor: pointer;
    letter-spacing: 1px;
    left: 733px;
}

#mute-btn:active {
    color: black;
}

#mute-btn:focus {
    outline: none;
}

#mute-btn.muted {
    left: 709px
}

#mute-btn.muted:hover {
    left: 707px
}

.score {
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    position: absolute;
    font-family: 'Press Start 2P';
    color: white;
    border: none;
    top: 10px;
    left: 10px;
}

#high-score {
    left: 300px;
}

#high-score-alert {
    font-size: 21px;
    margin-bottom: 30px;
    color: yellow;
}

#player-color-select-menu {
    position: absolute;
    top: 58px;
    left: 117px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.884);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    padding: 20px 30px;
}

#player-color-select-menu.show {
    display: flex;
}

#exit-colors-menu-btn:hover {
    letter-spacing: 3px;
    left: 2px;
    cursor: pointer;
}

#exit-colors-menu-btn:active {
    text-decoration: underline;
}

#exit-controls-menu-btn:hover {
    letter-spacing: 3px;
    left: 2px;
    cursor: pointer;
}

#exit-controls-menu-btn:active {
    text-decoration: underline;
}

#start-screen #open-menu-btn-container {
    position: absolute;
    bottom: 3px;
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

#start-screen .open-menu-btn {
    width: fit-content;
    padding: 5px 10px;
}

#start-screen .open-menu-btn:hover {
    letter-spacing: 3px;
    left: 2px;
    cursor: pointer;
}

#controls-menu {
    position: absolute;
    top: -29px;
    left: -55px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.884);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    padding: 20px 30px;
    width: 850px;
}

#controls-menu.show {
    display: flex;
    flex-direction: column;
}


